@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Yandex Sans", sans-serif;
}

section {
    padding: 80px 0;
}

input[type="text"],
input[type="password"] {
    border-radius: 16px;
    border: 1px solid #d4d4dd;
    width: 100%;
    padding: 18px 48px 18px 16px;
}

.loader {
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff3d00;
    width: 6px;
    height: 6px;
    transform: translate(150%, 150%);
    border-radius: 50%;
}

.loader::before {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    transform: translate(-150%, -150%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1024px) and (max-width: 1160px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1160px) and (max-width: 1300px) {
    .container {
        max-width: 1160px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}

