@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #fff;
}

html.dark {
    background: #131313;
}

.spinner {
    border-top-color: #4299e1;
    border-left-color: #4299e1;
    animation: spinner-spin 1s infinite linear;
    border-radius: 50%;
    border-width: 2px;
    width: 20px;
    height: 20px;
}

@keyframes spinner-spin {
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #3852d8;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


body {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    color: #373737;
    background: #fff;
}

body.dark {
    background: #131313;
}

a {
    text-decoration: underline;
}

.header a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 1024px) and (max-width: 1160px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1160px) and (max-width: 1300px) {
    .container {
        max-width: 1160px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}

